.mensagens {
    background-color: #edb141; 
    color: rgb(0, 0, 0);
    border-radius: 10px;
    height: 10%;
    padding: 10px;
    display: flex; 
    justify-content: center;
    align-items: center; 
    text-align: center;
    font-weight: bold;
    margin: 0;
  }