.palpite input {
  width: 150px;
  height: 40px;
  border-radius: 15px;
  border: none;
  color: #efebe0;
  background-color: #2e2623;
  padding-left: 7px;
  font-size: 11px;

  &:focus {
    outline: none;
  }
}
