.palpite input {
  width: 300px;
  height: 80px;
  border-radius: 30px;
  border: none;
  color: #efebe0;
  background-color: #2e2623;
  padding-left: 15px;
  font-size: 22px;

  &:focus {
    outline: none;
  }
}
