.tentativas {
  text-align: center;
  margin-top: 20px;
}

.pokebolas {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pokebola {
  width: 40px; 
  height: 40px; 
  filter: brightness(1); 
}

.pokebola.preta {
  filter: brightness(0); 
}