.pokemon {
  text-align: center;
  margin: 20px;
}

.imagem-container {
  position: relative;
  display: inline-block;
}

.imagem-container img {
  width: 150px;
  height: 150px;
  border: 2px solid #333;
  border-radius: 10px;
}

.imagem-container img.silhueta {
  filter: brightness(0); /* Transforma a imagem em preto */
}