.tipos-container {
    background-color: #d8d8c6; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%; 
    padding: 15px;
    border-radius: 10px;
}
  
.circulo {
    position: relative;
    width: 80px; 
    height: 80px; 
    background-color: #b0b0b0; 
    border-radius: 50%;
}

.tipo {
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 5px;
    font-size: 0.9em;
    background-color: #333;
}